# Git
.git*

# Docker
Dockerfile
*.df
.dockerignore
docker-compose.yml

# Node
node_modules/
lib/script/node_modules/
.bin
.nvmrc

# Config
*.env
.codeclimate.yml
.projections.json
.editorconfig

# Deployment
.circleci/
*.cf.yml
circle.yml

# Logs
*.log

# Other
LICENSE
README.md

# Build
build/
dist/
